---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div class="not-content my-6 border border-[oklch(0.45_0_0)] bg-[oklch(0.08_0_0_/_0.85)] p-8">
  <div class="flex min-h-[140px] items-center justify-center">
    <slot />
  </div>
</div>
